<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON Server</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>JSON Server</h1>
    </header>
    <section>
      <p>Please find below APIs and Methods for your use</p>
      <section class="method_container">
        <div>
          <h3>:: GET</h3>
          <ul>
            <% for(var i=0; i < data.length; i++) { %>
            <li>
              <a href="<%= data[i] %>" target="_blank"><%= data[i] %></a>
            </li>
            <% } %>
          </ul>
        </div>
        <div>
          <h3>:: POST</h3>
          <ul>
            <h4>/* Under Development */</h4>
            <!-- <% for(var i=0; i < data.length; i++) { %>
            <li>
              <a href="<%= data[i] %>" target="_blank"><%= data[i] %></a>
            </li>
            <% } %> -->
          </ul>
        </div>
        <div>
          <h3>:: PUT</h3>
          <ul>
            <h4>/* Under Development */</h4>
            <!-- <% for(var i=0; i < data.length; i++) { %>
            <li>
              <a href="<%= data[i] %>" target="_blank"><%= data[i] %></a>
            </li>
            <% } %> -->
          </ul>
        </div>
        <div>
          <h3>:: DELETE</h3>
          <ul>
            <h4>/* Under Development */</h4>
            <!-- <% for(var i=0; i < data.length; i++) { %>
            <li>
              <a href="<%= data[i] %>" target="_blank"><%= data[i] %></a>
            </li>
            <% } %> -->
          </ul>
        </div>
        <div>
          <h3>:: PATCH</h3>
          <ul>
            <h4>/* Under Development */</h4>
            <!-- <% for(var i=0; i < data.length; i++) { %>
            <li>
              <a href="<%= data[i] %>" target="_blank"><%= data[i] %></a>
            </li>
            <% } %> -->
          </ul>
        </div>
      </section>
    </section>
    <footer>
      <h3>Developed and maintained by Sarthik Bhat</h3>
    </footer>
  </body>
</html>
